@model MVCJqueryFunction.Models.Categorytbl

@{
    ViewData["Title"] = "AddCategory";
}

<h2 class="alert alert-danger text-center">AddCategory</h2>

@if (ViewBag.message != "null" && ViewBag.message != "")
{
    <h4 class="alert-success">@ViewBag.message</h4>
}
<form asp-action="AddCategory">
    <div class="form-horizontal">
        
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-warning" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="AllCategory">View All Categories</a>
</div>
<div>
    <a asp-action="UserMangement">Back to Home</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
