@model MVCJqueryFunction.Models.Subcategorytbl

@{
    ViewData["Title"] = "AddSubCategory";
}

<h2 class="alert alert-danger text-center">AddSubCategory</h2>
<div>
    @{

        IList<Categorytbl> SL = ViewBag.SL;
        SelectList oSL = new SelectList(SL, "Id", "CategoryName");

    }
</div>


<form asp-action="AddSubCategory" method="post">
    <div class="form-horizontal">
      
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="ParentId" class="col-md-2 control-label"></label>
            <div class="col-md-10">

               
                @Html.DropDownList("ParentId", oSL, "Select Category", new { @class = "form-control" })
                
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SubcategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SubcategoryName" class="form-control" />
                <span asp-validation-for="SubcategoryName" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="submit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="UserMangement">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
