@model MVCJqueryFunction.Models.Producttbl
<div class="container"> 
<h2 class="alert alert-danger text-center">Search Products</h2>
<div class="alert alert-danger">
    @{
     
        IList<Producttbl> SL = ViewBag.SL;
        SelectList oSL = new SelectList(SL, "Id", "Id");
        SelectList oSL1 = new SelectList(SL, "Id", "ProductName");

    }
    <div class="col-md-6 ">

        <div>
            @Html.DropDownList("Parent", oSL, "Products Id", new { @class = "form-control" })
        </div>
        <div>
            @Html.DropDownList("Parent", oSL1, "View Products", new { @class = "form-control" })
        </div>
        </div>

    <div class="col-md-offset-6 ">
        <input type="text" id="ProductID"  class="form-control"/>
        <button id="pbtn" type="button" value="Search">Search</button>
    </div>
    <div id="productdata"></div>
    <div class="clearfix"></div>
</div>
    <div>
    </div>
    <a asp-action="ProductsChanges">Back to Home</a>
</div>
@section scripts{

    <script>

        $(function () {

            $("#pbtn").click(function () {

                var productid = $("#ProductID").val();

                $("#productdata").load("@Url.Action("ProductSearchAjax", "Home")",
                    {
                        ProductID: productid
                    },
                    function () { alert("task done") }

                    );


            });



        });

    </script>
}
